$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Oswald', sans-serif;


$color-primary: #00ADB5;
$color-secondary: rgba(0, 173, 181, 0.1);
$color-text-primary: rgba(238, 238, 238, 0.75);
$color-text-secondary: #ffffff;

$color-border: #E7EAEB;
$color-gray-dark: rgba(57, 62, 70, 0.5); 
$color-white: #EEEEEE;
$color-body: #222831;

$transition: 0.2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


