.footer {
    border-top: 1px solid rgba(238, 238, 238, 0.1);
    box-shadow: 0 0 10px 0 $color-primary inset, 0 0 10px 4px $color-primary;
    &__wrapper {
        padding: 35px 0;
        @include mobile {
            padding: 30px 35px;
        }
    }
}

.footer-nav {
    &__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
        @include mobile {
            gap: 15px;
        }
    }

    &__li {
    }

    &__a {
        @include text($font-primary, 400, 18px, 27px, $color-white);
        transition: $transition;
        @include tablet {
            color: $color-white;
        }
        @include mobile {
            @include text($font-primary, 400, 15px, 24px, $color-white);
        }

        &._active,
        &:hover {
            animation: neon-1 .1s ease-in-out infinite alternate;
        }
        @keyframes neon-1 {
            from {
                text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
            }
            to {
                text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
            }
        }
    }
}

